*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }
  #icon {
    width:35%;
    }
  body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color: rgb(236, 233, 233);
   margin: 0%;
   text-align: 5%;
  } 
  .tabla_almacen{
    font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

  }
  .tabla_almacen td, .tabla_almacen th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tabla_almacentr:nth-child(even){background-color: #f2f2f2;}
  
  .tabla_almacen tr:hover {background-color: #ddd;}
  
  .tabla_almacen th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4c82af;
    color: white;
  }
  .pie_pag{
    background-color: white;
    padding: 0px 516px;
    position: fixed;
    bottom: -4px;
    margin-left: 0%;
    text-align: center;
    margin-right: 0%;
    margin-bottom: 1px;
  }
  .BarraTop{
    top: 0px;
    position: fixed;
    overflow: hidden;
    background-color: #4c82af;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4c82af;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #1F4690;
  }
  .BarraTop button{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 20px 109.25px; 
    background-color: #4c82af;
    color: white;
    cursor: pointer; 
    float: left; 
    font-size: 16px;
    text-align: center;
    margin-right: 0%;
    border: 0px solid #293462; 
    border-left: 1px solid #293462; 
    }
  .BarraTop:after {
      content: "";
      clear: both;
      display: table;
    }
    
    .BarraTop button:not(:last-child) {
      border-right: none; 
    }
    .BarraTop button:hover {
      background-color: #293462;}
      h1{
        text-align: center; 
      }
  .contenido{
    margin-left: 5px;
  }
  ul{
    text-align: center;
  }
  .index{
    text-align: center;
  }
  .mision{
    text-align: center;
  }
  .contactos{
    text-align: center;
  }
  .btn_contacto{
    text-align: center;
  }
  input{
    width: 30%;
    padding: 15px 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .enviar{
  background-color: #4c82af; 
    color: white;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 10%;
    border-radius: 4px;
    height: 50px;}

.inicio_letra{
  font-family: Pussycat, Algerian, Broadway;
  text-align: center;
  color: #1F4690;
}

.texto_almacen {
  font-family: Pussycat, Algerian, Broadway;
  text-align: center;
  color: #4c82af;
}
.btn_buscar {
border-radius: 4px;
}

