<!DOCTYPE html>
{% extends "base.html" %}
{% block contenido %}
<h1 class="inicio_letra">Proyecto WareHouse</h1>
<div style="text-align: center">
        <h5>Correo</h5>
        <p> grupo1_appweb@gmail.com </p>
        <h5>Teléfono</h5>
        <p> +1 (809) 555-5555 </p>
        <h5>Ubicacion</h5>
        <p> Santiago de los Caballeros </p>
        <h5>Facebook</h5>
        <p> Grupo 1 - App Web </p>
        <hr>
        <h4>Permitenos contactarte</h4>
        <input>
        <h4> </h4>
        </div>
        
        <div class="btn_contacto">
        <button class="enviar">Enviar</button>
        
</div>
{% endblock %}